.fa-arrow-left {
  position: absolute;
  font-size: 17px;
  color: rgb(53, 53, 53);
  left: 25px;
  top: 25px;
}

.restaurant_background {
  position: relative;
  z-index: -1;
  height: 260px;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  background: $header-background;
  position: relative;
  margin-top: -40px;
  padding-bottom: 40px;
  border-radius: 30px 30px 0 0;

  &__header {
    @include auto-resize;
  }

  h1 {
    font-size: 28px;
    padding-top: 35px;
  }

  h4 {
    font-weight: lighter;
    width: 40px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: $third-background 3px solid;
  }
}

.appetizer,
.main-course,
.sweets {
  width: 90%;
  margin: auto;
  max-width: 400px;
}

.fav_diner {
  top: -160px;
  right: 10px;
}

.dish-card {
  display: flex;
  background: white;
  border-radius: 20px;
  height: 70px;
  width: 100%;
  max-width: 400px;
  @include shadow;
  margin-bottom: 13px;
}

.dish-text {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-around;
  padding: 15px;
  width: 337.5px;
  flex-shrink: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  h2 {
    width: 100%;
    max-width: 315px;
    font-size: 17px;
    padding: 5px 0;
  }

  p {
    font-size: 14px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  em {
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
  }
}

.dish-card-description {
  display: inline-block;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dish-under {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.dish-check {
  display: flex;
  box-sizing: content-box;
  border-radius: 0 20px 20px 0;
  width: 0;
  justify-content: center;
  align-items: center;
  transition: linear 0.2s;
}

.fa-check {
  visibility: hidden;
  font-size: 13px;
  background-color: $header-background;
  border-radius: 50px;
  padding: 4px;
  color: $third-background;
}

.placeorder {
  display: flex;
  justify-content: center;
  padding: 36px 0;
}

.appear {
  @keyframes appear {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  div:nth-of-type(1) {
    animation: appear 1.4s cubic-bezier(0, 0.54, 0.74, 0.92);
  }
  div:nth-of-type(2) {
    animation: appear 1.7s cubic-bezier(0, 0.54, 0.74, 0.92);
  }
  div:nth-of-type(3) {
    animation: appear 2s cubic-bezier(0, 0.54, 0.74, 0.92);
  }
  div:nth-of-type(4) {
    animation: appear 2.3s cubic-bezier(0, 0.54, 0.74, 0.92);
  }
}

.dish-card:hover {
  .dish-check {
    width: 70px;
    transform: scale(1);
    background-color: $third-background;
    transition: linear 0.2s;

    .fa-check {
      @keyframes visibility {
        from {
          transform: rotate(-180deg);
        }

        to {
          visibility: visible;
          transform: rotate(0);
        }
      }

      animation: visibility 0.5s forwards 0.2s;
    }
  }
}
